body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/evelina-friman-hw_sKmjb0ns-unsplash.jpg");
  background-size: cover;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    
}

.body{
  height: 100vh;
  /* background-size: cover; */
  /* background-image: url("./images/foto-pettine-IfjHaIoAoqE-unsplash.jpg"); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .navbar {
  background-color: 
  #DCDCDC;
} */

.navbar {
  background-image: url("./images/evelina-friman-hw_sKmjb0ns-unsplash.jpg");
  background-size: cover;
  
}

.navbar, a {
  color: black;
  font-size: 1.0rem;
}


.login Input{
  width:300px;
}

.loginButton{
  width:100px;
  font-size: 1.2rem;
  background-color: #FFFAFA;
  color: darkslategrey;
  border: none;
  border-radius: 5px;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
  margin-bottom: 20px;

}

form Input {
  border-radius: 5px;
  margin-bottom: 25px;
  padding-right:25px;
}

